$desktop-xl-width: 1440px;
$tablet-width: 768px;
$mobile-width: 390px;


@mixin desktop-xl {
  @media (min-width: $desktop-xl-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile-width) {
    @content;
  }
}


body {

    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Montserrat', 'san-serif';
    font-weight: 400;
    color: #fff;
    background-color: rgba(48, 44, 66, 1);

    a {
        color: inherit;
    }

}
.container {
  // width: 88.75%;

  @include mobile {
    width: 350px;
  }

  @include tablet {
      width: 682px;
  }
  
  @include desktop-xl {
    width: 1278px;
  }

}