.header {

    display: flex;
    justify-content: space-between;


    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;

    }
}