.join {

    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include mobile {
        margin-top: 81px;
        padding: 45px 22px 65px 22px;

        border-radius: 40px;
    }

    @include tablet {
        margin-top: 82px;
        padding: 50px 79px;

        border-radius: 100px;
    }

    @include desktop-xl {
        margin-top: 112px;
        padding: 90px 109px;

        border-radius: 100px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-weight: 700;

            display: inline-block;
            text-align: center;

            padding: 0px 88px 30px 88px;
            margin-bottom: 21px;
            border-bottom: 1px solid red;
            // border-image: linear-gradient(270deg, #343045 0%, #C0B7E8 34.9%, #8176AF 68.75%, #343045 100%);

            @include mobile {

            }

            @include tablet {
                font-size: 24px;
                width: 238px;
            }

            @include desktop-xl {
                font-size: 36px;
                width: 238px;
            }
            
        }

        h3 {
            font-weight: 300;
            text-align: center;

            @include mobile {
                font-size: 24px;
                margin-bottom: 36px;
            }

            @include tablet {
                font-size: 24px;
                margin-bottom: 35px;
            }

            @include desktop-xl {
                font-size: 36px;
                margin-bottom: 35px;
            }
        }
    }

    fieldset {

        // width: 1058px;
        display: flex;
        flex-direction: column;
        align-items: center;

        ::placeholder {
            color: #fff;
        }
    }

    &__input-fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__input-field {
        font-family: 'Montserrat', 'san-serif';

        background-color: rgba(0, 0, 0, 0);
        border: 2px solid #fff;
        border-radius: 40px;

        font-size: 14px;
        font-weight: 400;
        color: #fff;

        margin-bottom: 39px;

        @include mobile {
            padding: 18px 29px;
        }

        @include tablet {
            padding: 27px 42px;
        }
    }

    &__input-field:focus {
        outline: none;
    }

    &__input-field:not(:last-of-type) {

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 436px;
        }
    }
    &__input-field:last-of-type {
        width: 100%;
    }

    &__textarea {
        font-family: 'Montserrat', 'san-serif';

        resize: none;
        background-color: rgba(0, 0, 0, 0);

        border: 2px solid #fff;
        border-radius: 40px;

        width: calc(100% - 84px);
        height: calc(210px - 29*2px);
        padding: 27px 42px;

        font-size: 14px;
        font-weight: 400;
        color: #fff;

    }

    &__submit {
        margin-top: 51px;

        width: 214px;
        height: 58px;
        border: none;
        background-image: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        border-radius: 40px;

        font-size: 12px;
        font-weight: 700;
        color: rgba(52, 48, 69, 1);
    }

}