* {
  padding: 0px;
  margin: 0px;
  border: none;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", "san-serif";
  font-weight: 400;
  color: #fff;
  background-color: rgb(48, 44, 66);
}
body a {
  color: inherit;
}

@media (min-width: 390px) {
  .container {
    width: 350px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 682px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1278px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 390px) {
  .header__logo {
    align-items: flex-end;
  }
}
@media (min-width: 768px) {
  .header__logo {
    align-items: center;
  }
}
.header__logo svg {
  filter: drop-shadow(0px 10px 6px 0px rgba(0, 0, 0, 0.25));
}
@media (min-width: 390px) {
  .header__logo svg {
    width: 69px;
    height: 60px;
  }
}
@media (min-width: 768px) {
  .header__logo svg {
    width: 80px;
    height: 81px;
  }
}
@media (min-width: 1440px) {
  .header__logo svg {
    width: 102px;
    height: 103px;
  }
}
@media (min-width: 390px) {
  .header__logo {
    width: 126px;
  }
}
@media (min-width: 768px) {
  .header__logo {
    width: 193px;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    width: 193px;
  }
}
@media (min-width: 390px) {
  .header__logo-name:last-of-type {
    width: 46px;
    height: 28px;
  }
}
@media (min-width: 768px) {
  .header__logo-name:last-of-type {
    width: 76px;
    height: 46px;
  }
}
.header__navigation {
  justify-content: space-between;
}
.header__navigation li {
  list-style-type: none;
}
@media (min-width: 390px) {
  .header__navigation {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__navigation {
    display: flex;
  }
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  flex-wrap: nowrap;
}
@media (min-width: 390px) {
  .header__nav-list {
    flex-direction: column;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .header__nav-list {
    flex-direction: row;
    width: 340px;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .header__nav-list {
    width: 387px;
    margin-right: 140px;
    margin-left: 0px;
    font-size: 12px;
  }
}
.header__nav-item {
  list-style-type: none;
}
@media (min-width: 390px) {
  .header__nav-item {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .header__nav-item {
    margin-bottom: 0px;
  }
}
.header__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 390px) {
  .header__contact {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .header__contact {
    flex-direction: row;
    width: 166px;
    height: 48px;
  }
}
@media (min-width: 1440px) {
  .header__contact {
    width: 348px;
    height: 48px;
  }
}
.header__contact-item {
  border-radius: 40px;
  text-align: center;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header__contact-item {
    width: 80px;
  }
}
@media (min-width: 1440px) {
  .header__contact-item {
    width: 155px;
  }
}
.header__contact-item:first-of-type {
  color: #fff;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
}
@media (min-width: 390px) {
  .header__contact-item:first-of-type {
    font-size: 18px;
    height: 36px;
    padding: 0px 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .header__contact-item:first-of-type {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 0;
    margin-bottom: 0px;
  }
}
@media (min-width: 1440px) {
  .header__contact-item:first-of-type {
    height: 44px;
    line-height: 44px;
  }
}
.header__contact-item:first-of-type button {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: 100%;
}
.header__contact-item:last-of-type {
  color: rgb(52, 48, 69);
  border: none;
  background-image: linear-gradient(to right, rgb(129, 118, 175), rgb(192, 183, 232));
}
@media (min-width: 390px) {
  .header__contact-item:last-of-type {
    height: 40px;
    font-size: 18px;
    padding: 0px 10px;
  }
}
@media (min-width: 768px) {
  .header__contact-item:last-of-type {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}
@media (min-width: 1440px) {
  .header__contact-item:last-of-type {
    height: 48px;
    line-height: 48px;
  }
}
.header__contact-item:last-of-type button {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: 100%;
}
@media (min-width: 390px) {
  .header__navigation-mobile {
    display: block;
    list-style-type: none;
  }
}
@media (min-width: 768px) {
  .header__navigation-mobile {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header__navigation-mobile {
    display: none;
  }
}
.header__burger-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 33px;
}
.header__burger-button span {
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 109.21%);
  margin-bottom: 7px;
  transition: 0.4s;
  border-radius: 40px;
}
.header__burger-button span:nth-of-type(2) {
  width: 24px;
}
.header__burger-button span:last-of-type {
  margin-bottom: 0;
}
.header__burger-menu {
  display: none;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
  width: 260px;
  padding: 30px 20px;
}
.header__burger-menu.active {
  display: block;
}

.hero {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 390px) {
  .hero {
    margin-top: 64px;
  }
}
@media (min-width: 768px) {
  .hero {
    margin-top: 60px;
  }
}
@media (min-width: 1440px) {
  .hero {
    margin-top: 112px;
  }
}
@media (min-width: 390px) {
  .hero {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
}
@media (min-width: 390px) {
  .hero__description {
    width: 100%;
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .hero__description {
    width: 340px;
    margin-top: 0px;
  }
}
@media (min-width: 1440px) {
  .hero__description {
    width: 456px;
  }
}
.hero__description span {
  background-image: linear-gradient(to right, rgb(192, 183, 232), rgb(129, 118, 175));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__description span:last-of-type {
  background-image: linear-gradient(to right, rgb(129, 118, 175), rgb(192, 183, 232));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 390px) {
  .hero__title {
    font-size: 24px;
    height: 96px;
    text-align: center;
    margin-bottom: 36px;
  }
  .hero__title span {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 32px;
    height: auto;
    line-height: 46px;
    text-align: start;
    margin-bottom: 16px;
  }
  .hero__title span {
    font-size: 38px;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    font-size: 40px;
    height: 116px;
    line-height: 56px;
    margin-bottom: 36px;
  }
  .hero__title span {
    font-size: 46px;
  }
}
@media (min-width: 390px) {
  .hero__description-text {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero__description-text {
    display: inline-block;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 36px;
  }
}
@media (min-width: 1440px) {
  .hero__description-text {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 66px;
  }
}
.hero__button {
  display: flex;
  align-items: center;
}
@media (min-width: 390px) {
  .hero__button {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .hero__button {
    justify-content: flex-start;
  }
}
.hero__button button {
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: rgb(52, 48, 69);
  font-weight: 700;
}
@media (min-width: 390px) {
  .hero__button button {
    width: 292px;
    height: 52px;
    font-size: 14px;
    margin-right: 0px;
  }
}
@media (min-width: 768px) {
  .hero__button button {
    width: 214px;
    height: 48px;
    font-size: 12px;
    margin-right: 40px;
  }
}
@media (min-width: 390px) {
  .hero__button img {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero__button img {
    display: inline-block;
  }
}
.hero__img {
  border-radius: 100px 100px 100px 240px;
  box-shadow: 0px 0px 0px 14px rgba(0, 0, 0, 0.13);
}
@media (min-width: 768px) {
  .hero__img {
    width: 340px;
  }
}
@media (min-width: 1440px) {
  .hero__img {
    width: 490px;
  }
}

.contact {
  width: 100%;
  margin-top: 88px;
}
@media (min-width: 390px) {
  .contact__slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .contact__slider-container {
    display: block;
    padding: 0;
  }
}
.contact__slider-list {
  display: flex;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
}
@media (min-width: 390px) {
  .contact__slider-list {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
}
@media (min-width: 768px) {
  .contact__slider-list {
    flex-direction: row;
    justify-content: left;
    padding: 29px 19px;
  }
}
@media (min-width: 1440px) {
  .contact__slider-list {
    padding: 49px 39px;
  }
}
.contact__slider-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  color: inherit;
}
@media (min-width: 390px) {
  .contact__slider-item {
    flex: 0 0 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: none;
  }
  .contact__slider-item.active {
    display: flex;
  }
  .contact__slider-item img {
    width: 24px;
    height: 32px;
    margin-right: 10px;
  }
  .contact__slider-item span {
    display: flex;
    flex-direction: column;
  }
  .contact__slider-item h4 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .contact__slider-item h5 {
    font-weight: 400;
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .contact__slider-item {
    display: flex !important;
    justify-content: space-around;
  }
}
@media (min-width: 390px) {
  .contact__slider-button {
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    z-index: 10;
  }
  .contact__slider-button:hover {
    opacity: 0.8;
  }
  .contact__slider-button.prev-button {
    left: 0;
  }
  .contact__slider-button.next-button {
    right: 0;
  }
}
@media (min-width: 768px) {
  .contact__slider-button {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .contact ul li:first-of-type {
    margin-right: 23px;
    width: 480px;
  }
  .contact ul li:first-of-type img {
    width: 31px;
    height: 41px;
    margin-right: 14px;
  }
  .contact ul li:nth-of-type(2) {
    width: 380px;
    padding: 0px 28px 0px 26px;
    border-right: 1px solid rgba(192, 183, 232, 0.33);
    border-left: 1px solid rgba(192, 183, 232, 0.33);
  }
  .contact ul li:nth-of-type(2) img {
    width: 33px;
    height: 33px;
    margin-right: 20px;
  }
  .contact ul li:last-of-type {
    margin-left: 18px;
  }
  .contact ul li:last-of-type img {
    width: 34px;
    height: 28px;
    margin-right: 15px;
  }
}
@media (min-width: 1440px) {
  .contact ul li:first-of-type {
    margin-right: 43px;
  }
  .contact ul li:first-of-type img {
    width: 41px;
    height: 61px;
    margin-right: 14px;
  }
  .contact ul li:nth-of-type(2) {
    width: 256px;
    padding: 0px 48px 0px 66px;
  }
  .contact ul li:nth-of-type(2) img {
    width: 44px;
    height: 44px;
    margin-right: 37px;
  }
  .contact ul li:last-of-type {
    margin-left: 58px;
  }
  .contact ul li:last-of-type img {
    width: 48px;
    height: 38px;
    margin-right: 31px;
  }
}

.introduction {
  display: flex;
}
@media (min-width: 390px) {
  .introduction {
    justify-content: center;
    margin-top: 59px;
  }
}
@media (min-width: 768px) {
  .introduction {
    margin-top: 81px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .introduction {
    margin-top: 111px;
  }
}
.introduction h2 {
  font-weight: 700;
}
@media (min-width: 390px) {
  .introduction h2 {
    font-size: 26px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .introduction h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .introduction h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
.introduction__description {
  display: flex;
}
.introduction h3 {
  font-weight: 300;
}
@media (min-width: 390px) {
  .introduction h3 {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  .introduction h3 {
    font-size: 24px;
    margin-right: 10px;
  }
}
@media (min-width: 1440px) {
  .introduction h3 {
    font-size: 36px;
    margin-right: 30px;
  }
}
@media (min-width: 390px) {
  .introduction img:first-of-type {
    display: none;
  }
}
@media (min-width: 768px) {
  .introduction img:first-of-type {
    display: none;
  }
}
@media (min-width: 1440px) {
  .introduction img:first-of-type {
    display: block;
  }
}
.introduction img:last-of-type {
  position: relative;
  right: 2px;
}
@media (min-width: 390px) {
  .introduction img:last-of-type {
    display: none;
  }
}
@media (min-width: 768px) {
  .introduction img:last-of-type {
    display: inline-block;
  }
}
.introduction__text {
  font-weight: 400;
}
@media (min-width: 390px) {
  .introduction__text {
    display: none;
  }
}
@media (min-width: 768px) {
  .introduction__text {
    display: inline-block;
    font-size: 14px;
    width: 440px;
    line-height: 180%;
  }
}
@media (min-width: 1440px) {
  .introduction__text {
    font-size: 16px;
    width: 652px;
    line-height: 180%;
  }
}

.about {
  margin-top: 104px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 390px) {
  .about {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .about {
    flex-direction: row;
  }
}
.about img {
  border-radius: 240px 100px;
  box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.25);
}
@media (min-width: 390px) {
  .about img {
    width: 337px;
    height: 358px;
    margin-bottom: 51px;
  }
}
@media (min-width: 768px) {
  .about img {
    width: 340px;
    height: 348px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1440px) {
  .about img {
    width: 524px;
    height: 557px;
  }
}
@media (min-width: 390px) {
  .about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .about__text {
    display: block;
    width: 330px;
  }
}
@media (min-width: 1440px) {
  .about__text {
    width: 630px;
  }
}
.about h2 {
  font-weight: 700;
}
@media (min-width: 390px) {
  .about h2 {
    display: none;
  }
}
@media (min-width: 768px) {
  .about h2 {
    display: inline-block;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1440px) {
  .about h2 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 5px;
  }
}
.about h3 {
  font-weight: 300;
}
@media (min-width: 390px) {
  .about h3 {
    display: none;
  }
}
@media (min-width: 768px) {
  .about h3 {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1440px) {
  .about h3 {
    font-size: 36px;
    margin-bottom: 42px;
  }
}
.about p {
  font-weight: 400;
}
@media (min-width: 390px) {
  .about p {
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 34px;
  }
}
@media (min-width: 768px) {
  .about p {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 18px;
  }
}
@media (min-width: 1440px) {
  .about p {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 28px;
  }
}
.about button {
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: rgb(52, 48, 69);
  font-size: 12px;
  font-weight: 700;
}
@media (min-width: 390px) {
  .about button {
    padding: 17px 47px 16px 39px;
  }
}
@media (min-width: 768px) {
  .about button {
    padding: 19px 63px 20px 63px;
  }
}

.why-build {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 390px) {
  .why-build {
    margin-top: 60px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .why-build {
    margin-top: 81px;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .why-build {
    margin-top: 111px;
  }
}
.why-build h2 {
  font-weight: 700;
}
@media (min-width: 390px) {
  .why-build h2 {
    font-size: 26px;
    margin-bottom: 16px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .why-build h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .why-build h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
.why-build__description {
  display: flex;
}
.why-build h3 {
  font-weight: 300;
}
@media (min-width: 390px) {
  .why-build h3 {
    font-size: 26px;
    margin-bottom: 26px;
  }
}
@media (min-width: 768px) {
  .why-build h3 {
    font-size: 24px;
    margin-right: 10px;
  }
}
@media (min-width: 1440px) {
  .why-build h3 {
    font-size: 36px;
    margin-right: 30px;
  }
}
@media (min-width: 390px) {
  .why-build img:first-of-type {
    display: none;
  }
}
@media (min-width: 768px) {
  .why-build img:first-of-type {
    display: none;
  }
}
@media (min-width: 1440px) {
  .why-build img:first-of-type {
    display: block;
  }
}
.why-build img:last-of-type {
  position: relative;
  right: 2px;
}
@media (min-width: 390px) {
  .why-build img:last-of-type {
    display: none;
  }
}
@media (min-width: 768px) {
  .why-build img:last-of-type {
    display: block;
  }
}
.why-build__text {
  font-weight: 400;
}
@media (min-width: 390px) {
  .why-build__text {
    font-size: 12px;
    width: 100%;
    line-height: 160%;
  }
}
@media (min-width: 768px) {
  .why-build__text {
    font-size: 14px;
    width: 440px;
    line-height: 180%;
  }
}
@media (min-width: 1440px) {
  .why-build__text {
    font-size: 16px;
    width: 652px;
    line-height: 180%;
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (min-width: 390px) {
  .technologies {
    margin-top: 56px;
  }
}
@media (min-width: 768px) {
  .technologies {
    margin-top: 82px;
  }
}
@media (min-width: 1440px) {
  .technologies {
    margin-top: 114px;
  }
}
.technologies__title {
  background-image: url("/imgs/pexels-rodnae-productions-8097332 1.png");
  background-position: center;
  background-color: rgba(48, 44, 66, 0.79);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 390px) {
  .technologies__title {
    height: 164px;
    border-radius: 60px;
  }
}
@media (min-width: 768px) {
  .technologies__title {
    height: 200px;
    border-radius: 160px;
  }
}
@media (min-width: 1440px) {
  .technologies__title {
    height: 303px;
  }
}
.technologies__title h2 {
  font-weight: 700;
}
@media (min-width: 390px) {
  .technologies__title h2 {
    font-size: 16px;
    margin-bottom: 14px;
  }
}
@media (min-width: 768px) {
  .technologies__title h2 {
    font-size: 28px;
    margin-bottom: 11px;
  }
}
@media (min-width: 1440px) {
  .technologies__title h2 {
    font-size: 36px;
    margin-bottom: 11px;
  }
}
.technologies__title h3 {
  font-weight: 300;
}
@media (min-width: 390px) {
  .technologies__title h3 {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .technologies__title h3 {
    font-size: 28px;
  }
}
@media (min-width: 1440px) {
  .technologies__title h3 {
    font-size: 36px;
  }
}
.technologies__go-to {
  position: relative;
  top: -30px;
  display: inline-block;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0px 15px rgba(14, 14, 14, 0.32);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}
.technologies__go-to a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 390px) {
  .technologies__go-to {
    display: none;
  }
}
@media (min-width: 768px) {
  .technologies__go-to {
    display: flex;
  }
}
@media (min-width: 390px) {
  .technologies .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto 0;
    overflow: hidden;
    height: auto;
  }
}
@media (min-width: 768px) {
  .technologies .slider-container {
    display: block;
    height: auto;
    margin: 50px auto 0;
  }
}
.technologies__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media (min-width: 390px) {
  .technologies__list {
    transition: transform 0.5s ease-in-out;
  }
}
@media (min-width: 768px) {
  .technologies__list {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 390px) {
  .technologies .slider-item {
    flex: 0 0 100%;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
  }
  .technologies .slider-item.active {
    display: flex;
  }
}
@media (min-width: 768px) {
  .technologies .slider-item {
    display: block !important;
    flex: none;
  }
}
@media (min-width: 390px) {
  .technologies .slider-button {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .technologies .slider-button:hover {
    transform: translateY(-50%) scale(1.1);
  }
  .technologies .slider-button::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  .technologies .slider-button.prev-button {
    left: 10px;
  }
  .technologies .slider-button.prev-button::before {
    transform: rotate(-135deg);
    margin-right: 3px;
  }
  .technologies .slider-button.next-button {
    right: 10px;
  }
  .technologies .slider-button.next-button::before {
    transform: rotate(45deg);
    margin-left: 3px;
  }
}
@media (min-width: 768px) {
  .technologies .slider-button {
    display: none !important;
  }
}
@media (min-width: 390px) {
  .technologies__item-1 img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 768px) {
  .technologies__item-1 img {
    width: 102px;
    height: 102px;
  }
}
@media (min-width: 1440px) {
  .technologies__item-1 img {
    width: 174px;
    height: 174px;
  }
}
@media (min-width: 390px) {
  .technologies__item-2 img {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 768px) {
  .technologies__item-2 img {
    width: 184px;
    height: 184px;
  }
}
@media (min-width: 1440px) {
  .technologies__item-2 img {
    width: 252px;
    height: 252px;
  }
}
@media (min-width: 390px) {
  .technologies__item-3 img {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 768px) {
  .technologies__item-3 img {
    width: 184px;
    height: 184px;
  }
}
@media (min-width: 1440px) {
  .technologies__item-3 img {
    width: 263px;
    height: 263px;
  }
}
@media (min-width: 390px) {
  .technologies__item-4 img {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 768px) {
  .technologies__item-4 img {
    width: 184px;
    height: 184px;
  }
}
@media (min-width: 1440px) {
  .technologies__item-4 img {
    width: 282px;
    height: 282px;
  }
}

.how-we-build {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 390px) {
  .how-we-build {
    flex-direction: column;
    margin-top: 81px;
  }
}
@media (min-width: 768px) {
  .how-we-build {
    flex-direction: row;
    margin-top: 81px;
  }
}
@media (min-width: 1440px) {
  .how-we-build {
    margin-top: 111px;
  }
}
.how-we-build h2 {
  font-weight: 700;
}
@media (min-width: 390px) {
  .how-we-build h2 {
    text-align: center;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .how-we-build h2 {
    text-align: start;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .how-we-build h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
.how-we-build__description {
  display: flex;
}
.how-we-build h3 {
  font-weight: 300;
  width: 100%;
}
@media (min-width: 390px) {
  .how-we-build h3 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .how-we-build h3 {
    text-align: start;
    font-size: 24px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .how-we-build h3 {
    font-size: 36px;
    margin-right: 30px;
  }
}
@media (min-width: 390px) {
  .how-we-build img:first-of-type {
    display: none;
  }
}
@media (min-width: 768px) {
  .how-we-build img:first-of-type {
    display: none;
  }
}
@media (min-width: 1440px) {
  .how-we-build img:first-of-type {
    display: block;
  }
}
.how-we-build img:last-of-type {
  position: relative;
  right: 2px;
}
@media (min-width: 390px) {
  .how-we-build img:last-of-type {
    display: none;
  }
}
@media (min-width: 768px) {
  .how-we-build img:last-of-type {
    display: block;
  }
}
.how-we-build__text {
  font-weight: 400;
}
@media (min-width: 390px) {
  .how-we-build__text {
    display: none;
  }
}
@media (min-width: 768px) {
  .how-we-build__text {
    display: inline-block;
    font-size: 14px;
    width: 440px;
    line-height: 180%;
  }
}
@media (min-width: 1440px) {
  .how-we-build__text {
    font-size: 16px;
    width: 652px;
    line-height: 180%;
  }
}

.stages {
  margin-top: 120px;
  position: relative;
}
@media (min-width: 390px) {
  .stages__slider-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .stages__slider-container {
    display: block;
    padding: 0;
  }
}
.stages__list {
  display: flex;
}
@media (min-width: 390px) {
  .stages__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
}
@media (min-width: 768px) {
  .stages__list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (min-width: 390px) {
  .stages .slider-item {
    flex: 0 0 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .stages .slider-item.active {
    display: flex;
  }
}
@media (min-width: 768px) {
  .stages .slider-item {
    display: flex !important;
    flex: none;
    width: 25%;
  }
}
@media (min-width: 1440px) {
  .stages .slider-item {
    width: auto;
  }
}
@media (min-width: 390px) {
  .stages__slider-button {
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .stages__slider-button:hover {
    opacity: 0.8;
  }
  .stages__slider-button.prev-button {
    left: 0;
  }
  .stages__slider-button.next-button {
    right: 0;
  }
}
@media (min-width: 768px) {
  .stages__slider-button {
    display: none !important;
  }
}
.stages__list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .stages__list-item {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  .stages__list-item {
    width: auto;
  }
}
.stages__point {
  font-weight: 700;
  color: rgb(52, 48, 69);
  border-radius: 50%;
  box-shadow: 0 0 0 19px rgba(13, 13, 13, 0.32);
  background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .stages__point {
    font-size: 48px;
    width: 109px;
    height: 109px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .stages__point {
    font-size: 64px;
    width: 159px;
    height: 159px;
    margin-bottom: 45px;
  }
}
.stages__point-title {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
}
@media (min-width: 390px) {
  .stages__point-title {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .stages__point-title img {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .stages__point-title img {
    margin-right: 5px;
  }
}
@media (min-width: 1440px) {
  .stages__point-title img {
    margin-right: 15px;
  }
}
.stages__point-title h4 {
  font-weight: 700;
}
@media (min-width: 768px) {
  .stages__point-title h4 {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (min-width: 1440px) {
  .stages__point-title h4 {
    font-size: 24px;
    line-height: 150%;
  }
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 390px) {
  .join {
    margin-top: 81px;
    padding: 45px 22px 65px 22px;
    border-radius: 40px;
  }
}
@media (min-width: 768px) {
  .join {
    margin-top: 82px;
    padding: 50px 79px;
    border-radius: 100px;
  }
}
@media (min-width: 1440px) {
  .join {
    margin-top: 112px;
    padding: 90px 109px;
    border-radius: 100px;
  }
}
.join__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join__title h2 {
  font-weight: 700;
  display: inline-block;
  text-align: center;
  padding: 0px 88px 30px 88px;
  margin-bottom: 21px;
  border-bottom: 1px solid red;
}
@media (min-width: 768px) {
  .join__title h2 {
    font-size: 24px;
    width: 238px;
  }
}
@media (min-width: 1440px) {
  .join__title h2 {
    font-size: 36px;
    width: 238px;
  }
}
.join__title h3 {
  font-weight: 300;
  text-align: center;
}
@media (min-width: 390px) {
  .join__title h3 {
    font-size: 24px;
    margin-bottom: 36px;
  }
}
@media (min-width: 768px) {
  .join__title h3 {
    font-size: 24px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1440px) {
  .join__title h3 {
    font-size: 36px;
    margin-bottom: 35px;
  }
}
.join fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join fieldset ::placeholder {
  color: #fff;
}
.join__input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.join__input-field {
  font-family: "Montserrat", "san-serif";
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 39px;
}
@media (min-width: 390px) {
  .join__input-field {
    padding: 18px 29px;
  }
}
@media (min-width: 768px) {
  .join__input-field {
    padding: 27px 42px;
  }
}
.join__input-field:focus {
  outline: none;
}
@media (min-width: 390px) {
  .join__input-field:not(:last-of-type) {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .join__input-field:not(:last-of-type) {
    width: 436px;
  }
}
.join__input-field:last-of-type {
  width: 100%;
}
.join__textarea {
  font-family: "Montserrat", "san-serif";
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 40px;
  width: calc(100% - 84px);
  height: 152px;
  padding: 27px 42px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.join__submit {
  margin-top: 51px;
  width: 214px;
  height: 58px;
  border: none;
  background-image: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(52, 48, 69);
}

.footer {
  margin-top: 127px;
}
.footer__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid red;
}
@media (min-width: 390px) {
  .footer__information {
    flex-direction: column;
    height: auto;
    padding-bottom: 61px;
    margin-bottom: 38px;
  }
}
@media (min-width: 768px) {
  .footer__information {
    flex-direction: row;
    height: 204px;
    padding-bottom: 80px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .footer__information {
    height: 204px;
  }
}
.footer__logo {
  filter: drop-shadow(0px 10px 6px 0px rgba(0, 0, 0, 0.25));
}
@media (min-width: 390px) {
  .footer__logo {
    width: 185px;
    height: 187px;
    margin-bottom: 56px;
  }
}
@media (min-width: 768px) {
  .footer__logo {
    width: 120px;
    height: 147px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1440px) {
  .footer__logo {
    width: 185px;
    height: 187px;
  }
}
.footer__navigation {
  height: 100%;
  border-left: 6px solid #fff;
}
@media (min-width: 390px) {
  .footer__navigation {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__navigation {
    display: inline-block;
    padding-left: 31px;
  }
}
@media (min-width: 1440px) {
  .footer__navigation {
    padding-left: 81px;
  }
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}
.footer__nav-item {
  list-style-type: none;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__nav-item {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .footer__nav-item {
    font-size: 16px;
  }
}
.footer__nav-item:not(:last-of-type) {
  margin-bottom: 23px;
}
.footer__links {
  height: 100%;
  border-left: 6px solid #fff;
}
@media (min-width: 390px) {
  .footer__links {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__links {
    display: inline-block;
    padding-left: 37px;
  }
}
@media (min-width: 1440px) {
  .footer__links {
    padding-left: 107px;
  }
}
.footer__info-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}
.footer__link-info {
  list-style-type: none;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__link-info {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .footer__link-info {
    font-size: 16px;
  }
}
.footer__link-info:not(:last-of-type) {
  margin-bottom: 23px;
}
.footer__social-media {
  height: 100%;
}
@media (min-width: 390px) {
  .footer__social-media {
    border: none;
  }
}
@media (min-width: 768px) {
  .footer__social-media {
    padding-left: 31px;
    border-left: 6px solid #fff;
  }
}
@media (min-width: 1440px) {
  .footer__social-media {
    padding-left: 71px;
    border-left: 6px solid #fff;
  }
}
.footer__social-media h3 {
  font-weight: 700;
}
@media (min-width: 390px) {
  .footer__social-media h3 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 29px;
  }
}
@media (min-width: 768px) {
  .footer__social-media h3 {
    font-size: 14px;
    text-align: start;
    margin-bottom: 39px;
  }
}
@media (min-width: 1440px) {
  .footer__social-media h3 {
    font-size: 16px;
  }
}
.footer__sm-links {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__sm-links {
    width: 200px;
  }
}
@media (min-width: 1440px) {
  .footer__sm-links {
    width: 313px;
  }
}
.footer__sm-link {
  list-style-type: none;
}
.footer__sm-build {
  border-radius: 40px;
  background-image: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  font-weight: 700;
  color: rgb(52, 48, 69);
}
@media (min-width: 390px) {
  .footer__sm-build {
    width: 295px;
    height: 55px;
    margin-top: 47px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footer__sm-build {
    width: 214px;
    height: 48px;
    margin-top: 50px;
    font-size: 12px;
  }
}
.footer__copyright {
  text-align: center;
  font-weight: 700;
  letter-spacing: 13%;
}
@media (min-width: 390px) {
  .footer__copyright {
    margin-bottom: 89px;
  }
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 12px;
    margin-bottom: 59px;
  }
}
@media (min-width: 1440px) {
  .footer__copyright {
    font-size: 14px;
  }
}
@media (min-width: 390px) {
  .footer__copyright h3:first-of-type {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__copyright h3:first-of-type {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 13%;
  }
}
@media (min-width: 390px) {
  .footer__copyright h3:last-of-type {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 13%;
    line-height: 260%;
  }
}
@media (min-width: 768px) {
  .footer__copyright h3:last-of-type {
    display: none;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
